 body {
	 font-family: 'Inter', sans-serif!important;
 }
 .custom-dropdown-select {
	 position: relative;
 }
 .custom-dropdown-select .category-label {
	 position: absolute;
	 top: 20px;
	 left: 15px;
	 transition: all linear 0.15s;
	 z-index: 1;
	 line-height: 1;
	 height: auto;
	 color: #699fff;
	 font-size: 15px;
	 font-weight: 400;
	 cursor: pointer;
}
 .custom-dropdown-select .category-label.has-value {
	 top: 11px;
	 font-size: 11px;
	 font-weight: 600;
 }
 .custom-dropdown-select .open {
	 display: block;
 }
 .custom-dropdown-select .multiselect-btn {
	 display: flex;
	 align-items: center;
	 min-width: 165px;
	 border: 1px solid #699fff;
	 background: #0A1F42;
	 color: #fff;
	 font-size: 15px;
	 line-height: 137.6%;
	 font-weight: 700;
	 height: 60px;
	 text-align: left;
	 padding-left: 15px;
	 text-transform: none;
	 cursor: pointer;
 }
 .custom-dropdown-select .multiselect-btn:focus {
	 box-shadow: none;
 }
 .custom-dropdown-select .multiselect-btn:after {
	 content: none;
 }
 .custom-dropdown-select .custom-dropdownmenu.dropdown-menu {
	 max-height: 850px!important;
	 min-width: 290px;
	 padding: 0 5px 5px 5px;
	 background: #fff;
	 box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
	 border-radius: 10px;
	 overflow: auto;
	 top: unset!important;
	 transform: none!important;
	 -ms-overflow-style: none;
	/* IE and Edge */
	 scrollbar-width: none;
	/* Firefox */
 }
 .custom-dropdown-select .custom-dropdownmenu.dropdown-menu::-webkit-scrollbar {
	 display: none;
}
 .custom-dropdown-select .custom-dropdownmenu.dropdown-menu:before {
	 content: '';
	 border-bottom: 8px solid #fff;
	 border-left: 8px solid transparent;
	 border-right: 8px solid transparent;
	 top: -8px;
	 left: 15px;
	 position: absolute;
 }
 .custom-dropdown-select .custom-dropdownmenu.dropdown-menu .input-group {
	 padding: 5px 13px 5px 15px;
	 justify-content: space-between;
	 height: 100%;
	 display: flex;
 }
 .custom-dropdown-select .custom-dropdownmenu.dropdown-menu .input-group .search-input {
	 border: none;
	 height: 45px;
 }
 .custom-dropdown-select .custom-dropdownmenu.dropdown-menu .input-group .search-input:focus {
	 outline: none;
 }
 .custom-dropdown-select .custom-dropdownmenu.dropdown-menu .group-header {
	 padding-left: 10px;
	 display: flex;
	 align-items: center;
	 height: 45px;
	 margin: 5px 0;
	 border-radius: 5px;
 }
 .custom-dropdown-select .custom-dropdownmenu.dropdown-menu .group-header:nth-child(1) {
	background-color: #fff0f0;
}
 .custom-dropdown-select .custom-dropdownmenu.dropdown-menu .group-header:nth-child(3) {
	background-color: #FFF6E8;
}
 .custom-dropdown-select .custom-dropdownmenu.dropdown-menu .group-header:nth-child(5) {
	background-color: #FEFFDE;
}
 .custom-dropdown-select .custom-dropdownmenu.dropdown-menu .group-header:nth-child(7) {
	background-color: #F5F8FE;
}
 .custom-dropdown-select .custom-dropdownmenu.dropdown-menu .group-header .addGroupInput {
	 height: 25px;
	 width: 25px;
	 margin: 10px;
	 display: flex;
	 opacity: 1;
	 left: unset;
	 position: unset;
}
 .custom-dropdown-select .custom-dropdownmenu.dropdown-menu .group-header .header-label {
	 padding: 0;
	 text-align: left;
	 display: flex;
	 flex-grow: 1;
	 align-items: center;
	 font-weight: 700;
	 text-transform: none;
}
 .custom-dropdown-select .custom-dropdownmenu.dropdown-menu .group-header .header-label.collapsed {
	 font-weight: 400;
}
 .custom-dropdown-select .custom-dropdownmenu.dropdown-menu .group-header .header-label.collapsed:after {
	 transform: rotate(-180deg);
	 top: unset;
}
 .custom-dropdown-select .custom-dropdownmenu.dropdown-menu .group-header .header-label:after {
	 position: absolute;
	 content: '';
	 width: 8px;
	 height: 8px;
	 border-width: 2px 0 0 2px;
	 transition: all linear 0.25s;
	 top: unset;
	 border-top: 8px solid #f1c7c7;
	 border-left: 8px solid transparent;
	 border-right: 8px solid transparent;
	 transform: none;
	 right: 15px;
}
 .custom-dropdown-select .custom-dropdownmenu.dropdown-menu .group-header:nth-child(1) .header-label:after {
	 border-top: 8px solid #F1C7C7;
 }
 .custom-dropdown-select .custom-dropdownmenu.dropdown-menu .group-header:nth-child(3) .header-label:after {
	 border-top: 8px solid #EDDDC6;
 }
 .custom-dropdown-select .custom-dropdownmenu.dropdown-menu .group-header:nth-child(5) .header-label:after {
	 border-top: 8px solid #E2E3B1;
 }
 .custom-dropdown-select .custom-dropdownmenu.dropdown-menu .group-header:nth-child(7) .header-label:after {
	 border-top: 8px solid #F5F8FE;
 }
 .custom-dropdown-select .custom-dropdownmenu.dropdown-menu .dropdown-item {
	 height: 45px;
	 margin-bottom: 5px;
	 padding: 0 0 0 35px;
	 display: flex;
	 align-items: center;
	 border-radius: 5px;
	 font-weight: 400;
}
 .custom-dropdown-select .custom-dropdownmenu.dropdown-menu .dropdown-item:hover {
	 background-color: #F5F8FE;
 }
 .custom-dropdown-select .custom-dropdownmenu.dropdown-menu .dropdown-item input {
	 height: 25px;
	 width: 25px;
	 opacity: 1;
	 left: unset;
	 position: unset;
	 cursor: pointer;
 }
 .custom-dropdown-select .custom-dropdownmenu.dropdown-menu .dropdown-item label {
	 display: flex;
	 flex-grow: 1;
	 padding: 10px;
	 margin: 0;
	 cursor: pointer;
}
 .custom-dropdown-select .custom-dropdownmenu.dropdown-menu .dropdown-item label:before {
	 content: unset;
}
 .custom-dropdown-select .custom-dropdownmenu.dropdown-menu .dropdown-item.tree-level-2 {
	 padding-left: 50px;
}
 .custom-dropdown-select .append-text {
	 display: flex;
	 padding-right: 10px;
 }
 .customDropdown-group .dropdown-item.checkedList {
	background-color: #F5F8FE;
}
